<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oscpad</title>
  </head>
  <style>html,head,body { padding:0; margin:0; }
  body { font-family: calibri, helvetica, arial, sans-serif; }
  </style>  
    <body>
    <script>elm-main.js</script>
    <script>
      var wsurl = window.location.host;
      wsurl = wsurl.split(":")[0];
      wsurl = "ws://" + wsurl + ":<websockets-port>";
      console.debug("wsurl: " + wsurl);
      Elm.Main.fullscreen(wsurl);
    </script>
  </body>
</html>

